# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de ambiente
*.env

# Ignorar arquivos de log
*.log

# Ignorar banco de dados
*.db
*.sqlite

# Ignorar pastas de compilação ou saída
dist/
build/
